PROJECT_NAME=Drowsiness Detection System
FASTAPI_ENV=development
API_STR=/api

POSTGRES_USER=postgres
POSTGRES_PASSWORD=MAT_KHAU_DB
POSTGRES_DB=device_monitor

DATABASE_URL=postgresql+psycopg://postgres:MAT_KHAU_DB@localhost:5432/device_monitor

SECRET_KEY=your-secret-key

ACCESS_TOKEN_EXPIRE_MINUTES=30

BACKEND_HOST  = http://localhost:8000
FRONTEND_HOST = http://localhost:5173

MQTT_HOST = mosquitto # tự chỉnh IP máy sau nhé
MQTT_PORT = 1883