PROJECT_NAME=Drowsiness Detection System
FASTAPI_ENV=development
API_V1_STR=/api/v1

DATABASE_URL=postgresql+psycopg://postgres:Hue12345%40@localhost:5432/device_monitor

SECRET_KEY=your-secret-key

ACCESS_TOKEN_EXPIRE_MINUTES=60

FRONTEND_HOST=http://localhost:5173

# MQTT Configuration
MQTT_HOST=localhost
MQTT_PORT=1883