PROJECT_NAME=Drowsiness Detection System
FASTAPI_ENV=development
API_V1_STR=/api/v1

DATABASE_URL=postgresql+psycopg://postgres:MAT_KHAU_DB@localhost:5432/device_monitor

SECRET_KEY=your-secret-key

ACCESS_TOKEN_EXPIRE_MINUTES=60

FRONTEND_HOST=http://localhost:5173